.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: content;
    padding: 20px;
}

.login-label {
    height: 45px;
    border-radius: 8px;
    background-color: rgb(235, 234, 234);
    border: none;
    width: 100%;
}

.loginSubmit {
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 45px;
    cursor: pointer;
    width: 315px;
}

.otherLoginButtons {
    background-color: rgb(235, 234, 234);
    border-radius: 8px;
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border: none;
    cursor: pointer;
}

#modal-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: ". content .";
    max-width: 45%;
    position: absolute;
    background-color: white;
}

#other-buttons {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otherLoginButtons:hover {
    background-color: rgb(175, 174, 174);
}

#orTag {
    width: fit-content;
}

#formInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
