.errors {
  color: red;
}

.restaurant-form-container {
  text-align: center;
  padding: 20px;
}

.form-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.create-restaurant-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.create-resturant-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-submit {
  background-color: lightgrey;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

.form-submit:disabled {
  cursor: not-allowed;
}

.form-submit:hover {
  background-color: black;
}
