.reviewModal {
    grid-area: content;
}

.starsRadio {
    display: none;
}

.reviewStars {
    cursor: pointer;
}

.reviewSubmit {
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-left: 7px;
    width: 221.2px;
    font-size: 120%;
    padding: 10px;
    margin-bottom: 20px;
}

.reviewSubmit:hover {
    box-shadow: 3px 3px 3px rgb(122, 122, 122);
}

.reviewSubmit:disabled {
    background-color: rgba(212, 211, 211, 0.918);
    color: rgb(122, 122, 122);
    cursor: not-allowed;
}

.reviewSubmit:disabled:hover {
    box-shadow: 3px 3px rgb(122, 122, 122);
}

#formTitle {
    grid-area: title;
}

#reviewTextarea {
    display: flex;
    height: 120px;
    width: 221.2px;
    font-size: larger;
}

#stars {
    display: flex;
    justify-content: center;
    font-size: 180%;
    padding: 5px;
}
