/* TODO Add site wide styles */
body, html {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#root {
    width: 72vw;
    display: flex;
    flex-direction: column;
}

body {
    display: flex;
    justify-content: center;
}
