body.profile-dropdown {
  margin-left: 0
}

.createRestaurantButton {
  border: none;
  background-color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.login-signup {
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 70px;
  font-weight: 700;
  cursor: pointer;
}

.login-signup:hover {
  background-color: rgb(228, 224, 224);
}

.profileButton {
  background-color: white;
  cursor: pointer;
  position: absolute;
  left: 0;
  font-size: 175%;
  width: 100px;
  display: flex;
  justify-content: space-around;
  top: 0;
  margin-top: 40px;
  margin-left: 15px;
  border: none;
}

#navigation {
  display: flex;
  align-items: center;
  margin: 0px;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0px 30px 0px;
  margin: 0px 0px 0px 0px;
}

#login-signup-buttons-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

#logo {
  font-size: 28px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
}

#logo-eats {
  font-weight: 700;
}

#logo>* {
  color: black;
  margin: 0px;
}

#current-address {
  border-radius: 20px;
  height: 50px;
  border: none;
  font-weight: 700;
  width: 150px;
}

#logout {
  background-color: rgb(235, 234, 234);
  border-radius: 15px;
  font-weight: 700;
  width: 100px;
  height: 45px;
  border: none;
  cursor: pointer;
}

#logout:hover {
  background-color: rgb(177, 175, 175);
}

.cart-container {
  background-color: black;
  color: white;
  border-radius: 10px;
}

.cart-container:hover {
  background-color: rgb(177, 175, 175);
  cursor: pointer;
}
