body.profile-dropdown {
  margin-left: 0
}

.createRestaurantButton {
  border: none;
  background-color: white;
  cursor: pointer;
}

.createRestaurantButton > svg > path {
  height: 40px;
}

.hidden {
  display: none;
}

.login-signup {
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 70px;
  font-weight: 700;
  cursor: pointer;
}

.login-signup:hover {
  background-color: rgb(228, 224, 224);
}

.manageLink {
  text-decoration: none;
  color: black;
}

.profileButton {
  background-color: white;
  font-size: 175%;
  width: 100px;
  display: flex;
  justify-content: space-around;
  border: none;
}

#navigation {
  display: flex;
  align-items: center;
  margin: 0px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  padding-top: 20px;
}

#login-signup-buttons-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  height: 110px;
  justify-self: flex-start;
  cursor: pointer;
}

#logo-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#current-address {
  border-radius: 20px;
  height: 50px;
  border: none;
  font-weight: 700;
  width: 150px;
}

#logout {
  background-color: rgb(235, 234, 234);
  border-radius: 15px;
  font-weight: 700;
  width: 100px;
  height: 45px;
  border: none;
  cursor: pointer;
}

#logout:hover {
  background-color: rgb(177, 175, 175);
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 15px;
  width: 100px;
  height: 35px;
  margin: 0px;
  border: none;
  outline: none;
}

.cart-container:hover {
  background-color: rgb(177, 175, 175);
  cursor: pointer;
}

.cart-button {
  margin: 0px;
}
