.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.login-signup {
  border-radius: 20px;
  border: none;
  height: 40px;
  width: 70px;
  font-weight: 700;
  cursor: pointer;
}

.login-signup:hover {
  background-color: rgb(228, 224, 224);
}

#navigation {
  display: flex;
  align-items: center;
  margin: 0px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 0px;
  padding-top: 20px;
}

#login-signup-buttons-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  height: 110px;
  cursor: pointer;
}

#logo-eats {
  font-weight: 700;
}

#logo>* {
  color: black;
  margin: 0px;
}

#cart-button {
  border: none;
  color: white;
  background-color: black;
  border-radius: 20px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

#cart-button:hover {
  background-color: rgb(177, 175, 175);
}

#current-address {
  border-radius: 20px;
  height: 50px;
  border: none;
  font-weight: 700;
  width: 150px;
}

#cart-icon {
  height: 30px
}

#logout {
  background-color: rgb(235, 234, 234);
  border-radius: 15px;
  font-weight: 700;
  width: 100px;
  height: 45px;
  border: none;
  cursor: pointer;
}

#logout:hover {
  background-color: rgb(177, 175, 175);
}

#cart-dropdown {
  position: absolute;
  margin-left: 1070px;
  top: 75px;
  border-radius: 10px;
  width: 300px;
  background-color: white;
  border: solid;
  list-style-type: none;
  padding: 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.cart-list {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
}

.cart-list>* {
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

#total {
  align-self: flex-end;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}
