#cart-icon {
  border: none;
  display: flex;
}

.cart-button {
  display: flex;
  align-items: center;
  border-radius: 15px;
}

#cart-icon {
  height: 30px;
  border-radius: 5px
}

#cart-modal {
  border-radius: 10px;
  width: fit-content;
  background-color: white;
  border: solid;
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cart-list {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
}

.cart-list>* {
  padding: 10px 0px 10px 0px;
  margin: 0px;
}

#total {
  align-self: flex-end;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

#modal-content {
display: flex;
}

#checkout-button{
  width: fit-content
}
