#cart-icon {
  border: none;
  display: flex;
}

.cart-button {
  display: flex;
  align-items: center;
  border-radius: 15px;
}

#cart-icon {
  height: 30px;
  border-radius: 5px
}

#cart-modal {
  border-radius: 10px;
  width: fit-content;
  background-color: white;
  border: solid;
  list-style-type: none;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.cart-list {
  border-bottom: solid 1px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}


#total {
  align-self: flex-end;
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
}

#checkout-button {
  width: fit-content;
  border: none;
  background-color: white;
  color: black;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  cursor: pointer;
}

#modal-background {
  background-color: rgba(0, 0, 0, 0.2);
}
